:root {
  --primary-text-color: rgb(33, 33, 33);
  --logo-text-color: rgb(33, 150, 243);
  --secondary-text-color: rgb(0, 0, 0);
  --paragraph-text-color: rgb(117, 117, 117);
  --white-text-color: rgb(255, 255, 255);
  --white-text-color-op: rgba(255, 255, 255, 0.6);
  --gray-button-portfolio: rgb(245, 244, 250);
  --hero-footer-main-page: rgb(47, 48, 58);
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-weight: 700;
}

/* Оформление логотипа в шапке */
.nav-logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;
}

.logo-part {
  color: var(--logo-text-color);
}

/* Оформление ссылок навигации */

.nav-items {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-items:hover,
.nav-items:focus {
  color: var(--logo-text-color);
}

.nav-items.current {
  color: var(--logo-text-color);
}

/* Контакты в шапке */
.nav-contacts {
  color: var(--paragraph-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--logo-text-color);
}

/* Оформление героя */
.hero {
  background-color: var(--hero-footer-main-page);
}

.hero-hidden {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Оформление кнопки */
.hero-button {
  color: var(--white-text-color);
  background-color: var(--logo-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-text-color-op);
}

/* Преимушества */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-items {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.works-hidden {
  font-weight: bo700ld;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-items {
  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.19;
}

/* Оформление футера */
.footer {
  background-color: var(--hero-footer-main-page);
}

.footer-logo {
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;
}

.footer .footer-logo {
  color: var(--white-text-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
}

.footer-address p {
  color: var(--white-text-color);
}

.footer-address .footer-contacts {
  color: var(--white-text-color-op);
  font-style: normal;
}

/* Оформиление портфолио  */
.examples h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.examples p {
  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.9;
}

/* Оформиление кнопок в портфолио */
.btn .button {
  background-color: var(--gray-button-portfolio);
}

.btn .button:hover,
.btn .button:focus {
  color: var(--white-text-color);
  background-color: var(--logo-text-color);
}
